*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: rgb(238, 233, 233);
}

#header
{
    /* margin-left: 10%; */
    padding: 10px 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color:  #d7dcd7;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.10);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
/* @media (max-width:550px) {
    #header{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
    #navbar{
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;

    }
    #hero img{
        padding: 20px;
        height: auto;
    }
     h1{
        font-size: 3px;
        color: black;

        
    }
} */
#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li
{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a
{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600px;
    transition: 0.2s ease;
}
#navbar li a:hover,
#navbar li a.active
{
   color: green;
}
/* li::after
{ content: '';
 
  width: 0px;
  height: 2px;
  transition: 0.5s;
  display: block;
  margin: auto;
  background-color: #4b9b4b;
  letter-spacing: 2px; */

/* li:hover::after
{
   width:100%;
}
li:last-child::after
{
    width: 0;

} */
#navbar li 
{
    list-style: none;

}
#navbar li a.active
{
    /* padding-right: 10px; */
    color: green;
}
a.active::after,
#navbar li a:hover::after

{
    content: '';
    width:30%;
    height: 3px;
    position: absolute;
    background-color: green;
    bottom: -6px;
    left: 20px;
}
#header a img
{
    width: 100px;

}
#navbar li a:hover
{
    color: rgb(28, 113, 33);
}
#navbar li i
{
    size: 20px;
    color: rgb(8, 10, 11);
}
#navbar i:hover
{
    color: rgb(134, 126, 126);
}
/* i::after
{
    padding: 10px 10px;
    content: '  shop';
    letter-spacing: 3px;
} */
/* ------------------------------para Starting------------------ */
#hero
{
    width: 100%;
    height: 90vh;
    background-position: top 25% right 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}
#hero h4
{
    font-size: 1.5rem;
    padding: 10px;
    margin-left: -15px;
    
}
#hero h2
{
    font-size: 3rem;
    margin-left: 8px;
    padding-bottom: 5px;
}
#hero h1
{
    font-size: 5em;
    color: green;
}
#hero p
{
    font-size: 1rem;
    color: black;
    font-weight: 600;
    padding-top: 7px;
    margin-left: 10px;
}
#hero button{
    /* margin-left: 20px; */
    margin: 20px;
    background-image: url(button.png);
    background-color: transparent;
    border: 0;
    font-size: 15px;
    padding: 14px 80px 14px 65px ;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
}
/* ----------------------features setion------------------- */
#feature
{
    overflow-x: scroll;
    display: flex;
    align-items: center;
    padding: 5% 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 10%; */
    background-color: white;

}
#feature .fe-box
{
    width: 180px;
    /* background-color: #d7dcd7; */
    margin-top: 30px;
    text-align: center;
    /* margin: 20px; */
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0,0.03);
    border: 1px solid #cce7dc;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover
{
      box-shadow: 0 15px 10px rgba(0, 0, 0,0.10);
    transform: scale(1.05);
    cursor: pointer;
}
#feature .fe-box h6
{
    background-color: rgb(246, 229, 234);
    display: inline-block;
    padding:9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: green;
    /* margin: 0px 0px 0px  0; */
}
#feature .fe-box:nth-child(2) h6
{
    background-color: rgb(200, 236, 200);
}
#feature .fe-box:nth-child(3) h6
{
    background-color: rgb(171, 231, 225);
}
#feature .fe-box:nth-child(4) h6
{
    background-color: rgb(171, 199, 231);
}
#feature .fe-box:nth-child(5) h6
{
    background-color: rgb(197, 222, 153);
}
#feature .fe-box img
{
    width: 100%;
    margin-bottom:10px ;
}
#product1
{
    padding: 10px 80px;
    text-align: center;
}
#product1 h2
{
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 50px;
}
#product1 p
{
    font-size: 30px;
    font-weight: 600;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,0.03);
}
#product1 .pro-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    margin: 10px;
}
#product1 .pro
{
    position: relative;
    margin-top: 10%;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
    margin: 15px 0;
    transition: 0.02 ease;

}
#product1 .pro:hover
{
    box-shadow: 25px 25px 40px rgba(0, 0, 0,0.02);
    transform: scale(1.05);
}
#product1 .pro img
{
    width: 100%;
    border-radius: 10px;
}
#product1 .pro .des
{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span
{
    color: #606063;
    font-size: 13px;
}
#product1 .pro .des h5
{
    padding-top: 7px;
    color: black;
    font-size: 17px;
}
#product1 .pro .des i
{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4
{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 800;
    color: #088178;
}
#product1 .pro .cart
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-size: 700;
    color: #088178;
    border: 1px solid #cce7dc;
    position: absolute;
    bottom: 20px;
    right: 10px;

}
#banner{
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4 
{
    font-size: 16px;
    color: #cce7d0;
}
#banner h2
{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span
{
    color: red;
}
#banner button
{
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: 0.2s;
}
#banner button:hover
{
    background-color: #088178;
    transform: scale(1.05);
}
#sm-banner
{ 
    padding: 10px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
#sm-banner .banner-box
{
     padding:  30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: self-start;
    background-image: url(Banner/b17.jpg);
    min-width: 630px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#sm-banner .banner-box h4
{
    color: white;
    font-size: 19px;
    font-weight: 400;
}
#sm-banner .banner-box h2
{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner .banner-box span
{
    color: white;
    font-size: 14px;
    padding: 10px 1px;
    font-weight: 500;
}
#sm-banner button
{
    font-size: 15px;
    padding: 15px 30px;
    font-weight: 700;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
    border: 1px solid #d4d4db;
    /* outline: 1px solid ; */

}
#sm-banner .banner-box:hover button
{
    background-color: #088178;
    transform: scale(1.05);
}
#sm-banner .banner-box2
{
    background-image:url(Banner/b10.jpg) ;
}
#banner3
{
    padding: 10px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#banner3 .banner-box
{
    padding:  20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: self-start;
    background-image: url(Banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

}
#banner3 .banner-box2
{
    background-image: url(Banner/b4.jpg);
}
#banner3 .banner-box3
{
    background-image: url(Banner/b18.jpg);
}
#banner3 h2
{
    color: white;
    font-weight: 800;
    font-size: 22px;
}
#banner3 h3
{
    color: rgb(219, 84, 84);
    font-weight: 700;
    font-size: 20px;
}
#newsletter
{
   padding: 20px 80px; 
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   background-image: url(Banner/b14.png);
   background-repeat: no-repeat;
   background-color: #041e42;
   background-position: 20% 30%;
   margin-bottom: 20px;
}
#newsletter h4
{
   color: white;
   font-size: 15px;
   font-weight: 600;
}
#newsletter p
{
   color: #818ea0;
   font-size: 15px;
   font-weight: 600;
   margin: 10px 0;
}
#newsletter span
{
   color: rgb(226, 125, 53);
}
#newsletter input
{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button
{
    font-size: 15px;
    font-weight: 200;
    padding: 1px 30px;
    border-radius: 2px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: 0.2s;
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
#newsletter .form
{
    display: flex;
    width: 40%;
}
footer
{
    padding: 10px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 30px;
}
footer .logo
{
    width: 20%;
    margin-bottom: 20px;

}
/* footer h4
{
    font-size: 14px;
    padding-bottom: 20px;
} */
footer h4
{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a 
{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow
{
    margin-top: 20px;
}
footer .follow i 
{
    color: #465b54;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img
{
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img
{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover
{
    color: green;
}
footer .copywrite
{
    width: 100%;
    text-align: center;
}